* {
  padding: 0%;
  margin: 0%;
}

div {
  height: 70px;
}





a {
  text-decoration: none;
}

a:hover {
  color: cyan;
}

.col-sm-12 {
  height: 800px;
}

.col-sm-4,
.col-sm-3 {
  border: 1px solid black;
  margin: 100px;
  height: 300px;
  width: 315px;
  margin-left: 190px;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.center,
.height {
  text-align: center;
  height: 200px;
}


.height-top {
  margin-top: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
}