
body{
    text-align: center;
    background: url(/img/homebackground.jpg);
    background-size: cover; 
}

#Tic{
background:url(/img/tictactoe.png)no-repeat;
background-size: 340px;
width: 320px;
height: 320px;
cursor: pointer;
border:solid black 5px;
left:500px;
top: 300px;
position: absolute;
}

#Zeeslag{
background:url(/img/zeeslag.png)no-repeat;
background-size: 340px;
width: 320px;
height: 320px;
cursor: pointer;
border:solid black 5px;
left:850px;
top: 300px;
position: absolute;
}

#Whack{
background:url(/img/wam\ home\ page.png)no-repeat;
background-size: 585px;
background-position-y: 10px;
background-position-x: -135px;
width: 320px;
height: 320px;
cursor: pointer;
border:solid black 5px;
left:1200px;
top: 300px;
position: absolute;
}

.text1{
    top: 650px;
    left: 600px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text2{
    top: 650px;
    left: 980px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text3{
    top: 650px;
    left: 1300px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    top: 50px;
    left: 800px;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}