
.dices{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.headings{
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.credits{
    column-count: 5;
    column-fill: balance;
}

.text-center{
    text-align: center;
}

.dices-computer-player{
    column-count: 2;
    font-size: 70px;
}

.dices-player{
    column-count: 2;
    font-size: 70px;
}

.message{
    column-count: 3;
    column-fill: balance;
}

.message-box{
    border: 1px solid black;
}

.controls{
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}

.dice{
    font-size: 64pt;
}

button{
    width: 100%;
    border: 5px solid black;
}

body{
    background-color: darkslategray;
}


.higher-button {

    border-radius: 12px;

    background-color: rgb(0, 214, 0);

    height: 40px;

 

}

 

.higher-button:hover {

    background-color: green;

}

 

.lower-button {

    border-radius: 12px;

    background-color: red;

    height: 40px;

}

 

.lower-button:hover {

    background-color: darkred;

}

.dice-button {

    background-color: rgb(0, 0, 0);

    border-radius: 12px;

    height:40px;

    margin: 0px;

    color: white;

   

}

.dice-button:hover {

    background-color: rgb(0, 139, 132);

}

.go-button {

    background-color: rgb(0, 0, 0);

    border-radius: 12px;

    height: 40px;

    margin: 0px;
    color: white;

}

.go-button:hover {

    background-color: rgb(0, 139, 132);

} 